/*-------------Global styles---------------*/


      body{
          margin: 0;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          align-items: center;
          /*-------------typografie---------------*/
          font-family:"Semplicita Pro";
      }

.frame{
    width: 400px;
}

#zoekenCountry{
    background-color: lightgray;
    padding: 50px 25px;
    margin-top: 75px;
}

#CountrySearchResult{
background-color: #FAFAFA;
    box-shadow: 5px 8px 17px 6px rgba(75,82,74,0.62);
    padding: 100px;
    margin-top: 50px;
}


#CountrySearchResult li {
    width: 500px;
    list-style: none;
}

#CountrySearchResult img{
    width:50px;
    margin-right: 20px;
}
input[type=text]{
 color: lightcoral;
}
input[type="submit"] {
    background-color: orange;
}


/*-------------kleuren landen ---------------*/

.Africa{
    color: #768abd;
}

.Asia{
    color: #c15b5d;
}

.Europe{
    color: #f8db81;
}

.Oceania{

    color: #9256aa;
}

.Americas{
    color: #6d8e66;

}

.South-America{
    color: #91c79b;
}

/*-------------Layout ---------------*/

/*-------------Area's ---------------*/


/*-------------Sectie 1 banner met afbeelding ---------------*/
.foto-sectie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid blue 2px;
}

.foto-landkaart{
    width: 60%;
    height: auto;
}
/*-------------Sectie 2 Lijst ---------------*/
#countryList img{
    width: 50px;
    display: inline-block;
    padding-top: 50px;

}
#countryList {
    column-count: 3;
    max-width: 1000px;
    border-radius: 4px;
    border: 1px solid lightgray;
    background-color: #FAFAFA;
    padding: 30px;
}

#countryList li {
    list-style-type: none;


}

#countryList span{
    font-size: 18px;
}


/*----------------------- Pagin Html2 ----------------------*/

